@using Northwind.Models
@model IEnumerable<Order>

<div class='report'>

  <h1>Product Category</h1>
  <div class="dropdown">
    <select class="btn btn-secondary btn-lg dropdown-toggle" style:padding-top="10pixels" type="button" id="CategoryId">
      
      @* @foreach (OrderDetail o in Model)
      {
        
        if (o.OrderId == ViewBag.ordersThisYear)
        {
          <option value="@o." selected>@o.</option>
        }
        else
        {
          <option value="@c.CategoryId">@c.CategoryName</option>
        }
      } *@
    </select>
    </button>
  </div>

  <div id="chart_container">
    <canvas id="reportTwo" data-id="@ViewBag.ordersThisYear"></canvas>
  </div>

</div>


@section Scripts {
<script type="text/javascript" src="~/js/reportTwo.js"></script>
}